* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 150%;
}

h1 {
  /* color: #ccc */
}

h2 {
}

h3 {
    margin-bottom: 0px;
    margin-top: 30px;
    padding-bottom: 0px;
    
}

.company {
    float: left;
    font-size: 12px;
    max-width: 200px;
}

.period {
    float: right;
    font-size: 12px;
    max-width: 200xp;
}

.chores {
    margin-top: 20px;
    padding-top: 10px;
}